<section id="services" class="py-5 bg-light text-center">
  <div class="container">
    <h2 class="display-5 fw-bolder text-primary mb-5">Skills.</h2>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let skill of skillData">
        <div class="card h-100 shadow-sm border-0">
          <div class="card-body d-flex flex-column justify-content-center align-items-center p-4">
            <span class="icon-wrapper bg-primary text-white rounded-circle d-flex justify-content-center align-items-center mb-3">
              <i class="fa fa-solid fa-laptop fa-2x"></i>
            </span>
            <h5 class="fw-bold text-text mb-2">{{skill.skill}}</h5>
            <p class="text-muted">{{skill.skillDetails}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
