<div class="body">
    <div class="form-container">
        <form [formGroup]="contactform" (ngSubmit)="submitform()">
            <!-- <h2>update contact info</h2> -->
            <div class="form-group">
                <label for="textarea">name:</label>
                <textarea formControlName="name" id="textarea" name="about" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="textarea">Email:</label>
                <textarea formControlName="email" id="textarea" name="about" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="textarea">Message:</label>
                <textarea formControlName="message" id="textarea" name="about" rows="1"></textarea>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="send message" />
            </div>
        </form>
    </div>
</div>