<div class="home" id="home">
        <div class="home-text d-flex flex-column flex-wrap justify-content-center align-items-center text-center">
            <h2 class="display-4 fw-bolder py-2">Hello I'm</h2>
            <h1 class="display-5 py-3">Rahma Korish</h1> 
            <!-- <div class="home-links">
            <a href="http://facebook.com"><i class="fa fa-brands fa-facebook fa-md mx-1 p-2 fa-border border-dark rounded-circle"></i></a>
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fa fa-brands fa-twitter fa-md mx-1  p-2 border border-dark rounded-circle"></i></a>
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fa fa-brands fa-linkedin fa-md mx-1  p-2 border border-dark rounded-circle"></i></a>
            <a href="http://" target="_blank" rel="noopener noreferrer"> <i class="fa fa-brands fa-slack fa-md mx-1 p-2  border border-dark rounded-circle"></i></a>
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fa fa-brands fa-youtube fa-md mx-1 p-2  border border-dark rounded-circle"></i></a>
        </div> -->
        </div>
    </div>