<section id="home" class="d-flex align-items-center justify-content-center text-center vh-100 bg-background text-text">
  <app-social-sidebar></app-social-sidebar>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-8">
        <h2 class="display-4 fw-bolder py-2">Hello, I'm Rahma Korish</h2>
        <!-- <h1 class="display-5 py-3 ">Rahma Korish</h1> -->

      </div>
    </div>
  </div>
</section>
<div class="row">
  <div class="col-md-6">
    <app-about></app-about>
  </div>
  <div class="col-md-6">
    <app-skills></app-skills>
  </div>
</div>
<app-projects></app-projects>
<app-contact></app-contact>
