<section id="about" class="py-5 bg-background text-text">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-lg-6 mb-4 mb-lg-0 text-center">
        <img [src]="staticURL+about.imgURL" alt="{{about.name}}" class="img-fluid rounded shadow-lg">
      </div>
      <div class="col-12 col-lg-6 text-center text-lg-start">
        <h4 class="fw-bold display-5 text-primary mb-4">About Me.</h4>
        <div *ngIf="about">
          <p class="lead text-secondary">{{ about.role }}</p>
          <p class="text-muted lead">
            I am <b class="text-text">{{ about.name }}</b> {{ about.aboutText }}
          </p>
        </div>
        <div class="d-flex justify-content-center justify-content-lg-start mt-4">
          <a href="https://drive.google.com/file/d/1BFy8wkkAOS3OmXLEGDqu6tr6R2mWDg4n/view?usp=sharing" target="_blank" download class="btn btn-primary me-3">Download C.V</a>
          <a routerLink="../contact" class="btn btn-outline-primary">Contact me</a>
        </div>
      </div>
    </div>
  </div>
</section>
