<div class="about container row justify-content-between align-items-center text-center py-5 m-auto" id="about">
        <div class="about-image img-fluid w-50 h-50 col-md-12">
            <!-- <img [src]="'http://localhost:3000/uploads/' +about.imgURL" alt="{{about.name}}" class="img-fluid w-100"> -->
        <img src ='https://res.cloudinary.com/dnfwp1qmq/image/upload/v1759259881/aboutimg_lgrslc.jpg' alt="{{about.name}}" class="img-fluid w-100">
          </div>
        <div class="about_text text-start col-lg-6 col-md-12">
        <h4 class="fw-bold display-5">About Me.</h4>
        <div *ngIf="about">
  <p class="text-muted text-black-50">{{ about.role }}</p>
  <p class="text-muted text-break text-black-50 fw-medium lead">
    I am <b>{{ about.name }}</b> {{ about.aboutText }}
  </p>
</div>


        
        <div class="about-buttons py-4">
        <div class="btn-group">
        <div class="downloadbutton mx-1">
           <a href="https://drive.google.com/file/d/1BFy8wkkAOS3OmXLEGDqu6tr6R2mWDg4n/view?usp=sharing" target="_blank" download> <button class="btn btn-dark btn-outline-light border border-dark px-4">Download C.V</button>
        </a>
        </div>
        <div class="contactbutton ">
          <button class="btn btn-outline-dark pg-dark px-4"><a routerLink="../contact" class="nav-link"> Contact me</a></button>
        </div>
        </div>
    </div>
    
</div>
    </div>