/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --text: #3a3861;
  --background: #efedea;
  --primary: #f297a0;
  --secondary: #efcecd;
  --accent: #b5bb77;
}

body {
  background-color: var(--background);
  color: var(--text);
}
